

html, body{
    background-color: white; 
    border: 10px solid white; /*Keep these the same color */
    }  

h1{color: black;}
h2{color: black;}
h3{color: black;}
h4{color: black;}
p {color: gray ;}


